<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <%- include('partials/include-css.ejs') %>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-sm">
        Klik link di atas untuk memilih yah !
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/include-js.ejs') %>
</body>

</html>