<footer>
  <div class="fixed-bottom" style="background-color: #f8f9fa ; padding: 2em 0.5em 1em 0.5em; margin: 0 0;">
    <div>
      <p class="text-center">
        Copyright withered-flowers &copy; 2020
      </p>
    </div>
  </div>
</footer>